html {
    height: 100%;
    width: 100%;
}
body {
    background: linear-gradient(to bottom, rgba(0,0,0, 0.4), rgba(0,0,0,0.4)), url(/assets/beam.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
    margin: 0px;
    padding: 50px 0 0 0;
}

/************Navbar Style**********/
.navbar-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    backdrop-filter: blur(6px);
    background: rgba(0,0,0, .05);
}
.navbar-items {
    list-style: none;
    margin-right: auto;
}
.navbar-item {
    display: inline;
    text-decoration: none;
}
.navbar-link {
    text-decoration: none;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    padding: 10px;
    letter-spacing: 1.5px;
    text-shadow: 0px 1px 10px rgba(0,0,0,.5);
}
.navbar-link:hover {
    color: #f77f00;
}
.icon-container {
    margin-left: auto;
}
.icon-container ion-icon {
    color: #fff;
    font-size: 24px;
    padding: 5px;
}
.icon-container ion-icon:hover {
    color: #f77f00;

}
/**********Page Style**********/
.content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
}
.journey-container, .project-container{
    display: block;
    color: #fff;
    font-family: 'Lato', sans-serif;
    background: rgb(0,0,0, .35);
    border-radius: 30px;
    backdrop-filter: blur(3px);
    margin: 30px;
}
.journey-container {
    width: 60%;
    max-width: 800px;
}
.project-container {
    width: 30%;
    max-width: 400px;
}
@media screen and (max-width: 900px)
{
    body {
        height: 100%;
        background-size: 650%;
        background-position: left;
        overflow: auto;
    }
    .content-container {
        flex-direction: column;
    }
    .journey-container {
        min-width: 400px;
    }
    .project-container {
        min-width: 300px;
    }
    .quote-container {
        display: none;
    }
    .quote-container blockquote {
        display: none;
    }
}

.journey-container p {
    margin: 0px;
    padding: 0px;
}

.journey-container h2 {
    padding: 20px;
    letter-spacing: 2px;
}
.journey-container p {
    letter-spacing: 1px;
    padding: 20px;
}
.project-container h2 {
    padding: 20px;
}
.project-container a {
    text-decoration: none;
    color: #b3e0ff;
    font-family: 'Lato', sans-serif;
}
.project-container a:hover{
    color:#f77f00;
}
.project-container p {
    padding: 0px 20px;
    letter-spacing: 1px;
}

.quote-container {
    position: fixed;
    width: 100%;
    display: flex;
    bottom: 20px;
    right: 0px;
    z-index: -1;
}
.quote-container blockquote {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    position: relative;
    margin: 30px 50px;
    padding: 0px 0px 0px 50px;
    margin-left: auto;
    text-shadow: 0px 1px 10px rgba(0,0,0,.5);
}

blockquote:before {
    font-family: Georgia, serif;
    position: absolute;
    font-size: 6em;
    line-height: 1;
    top: 0;
    left: 0;
    content: "\201C";
}
blockquote:after {
    font-family: Georgia, serif;
    position: absolute;
    display: block;
    font-size:6em;
    line-height: 1;
    right:0;
    bottom:-0.5em;
    content: "\201D";
}
cite::before{
    content: "-";
}
/**********Footer Style**********/
.footer-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(6px);
    background: rgb(0,0,0, .1);
    z-index: 1;
}
.footer-container p {
    display: inline;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}
#copyright {
    display: inline;
    padding: 10px
}
#copyright p{
    color: #fff;
}


