html {
    width: 100%;
}

body {
    background-color: #000;
}

ion-icon {
    color: #0aa;
    font-size: 25px
}

/********* Navbar Styles **********/
.navbar-container {
    width: 100%;
    position: fixed;
    background: #323232;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 3px double #fff;
    z-index: 3;
}
.navbar-container p {
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 3px;
    display: inline;
}
.disk-container {
    display: inline;
    margin-right: auto;
}
.disk-container p {
    color: #fff;
    padding: 0px 0px 0px 10px
}
.disk-menu-dropdown {
    position: relative;
    display: inline-block;
}
.disk-menu-dropdown:hover .disk-menu-content {
    display: block;
}
.disk-menu-content {
    display: none;
    position: absolute;
    z-index: -1;
    text-align: left;
    min-width: 100%;
    background: #a00;
    border: 2px solid #fff;

}
.disk-menu-content a{
    display: block;
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    padding: 5px 0px 5px 5px;
    transition: color .15s, background .15s;
    transition-property: color, background;
    transition-duration: .15s, .15s, .15s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
}
.disk-menu-content a:hover {
    color: #000;
    background: #aaa;
}
.disk-menu-content a{
    text-decoration: none;
}

#title-text {
    font-family: 'Press Start 2P', cursive;
    color: #5ff;
    text-decoration: none;
    letter-spacing: 2px;
}
#title-text::before {
    content: ">>";
    color: #a00;
}
#title-text:hover{
    color: #ff5;
}

.icon-container {
    margin-left: auto;
    padding: 10px;
}

.icon-container ion-icon {
    margin: 0px 3px;
}
.icon-container ion-icon:hover {
    color: #fff;
}

/********** Footer Styles **********/
.footer-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 2px solid #c60;
    background: #000;
    z-index: 3;
}
.footer-container p {
    display: inline;
    font-family: 'Press Start 2P', cursive;
}
#copyright {
    display: inline;
    padding: 10px
}
#copyright p{
    color: #aaa;
}
#avail-memory {
    display: inline;
    margin-left: auto;
    padding: 10px;
}
#avail-memory p{
    color: #fff;
}

/********** Portfolio Page Styles *********/
.transferrable-skills-container {
    font-family: 'Press Start 2P', cursive;
    width: 75%;
    margin: 100px auto 50px auto;
}
.transferrable-skills-container>h4 {
    color: #c60;
    border-bottom: 2px solid #a00;
    margin: 30px;
}
#transferrable-skills-cap {
    position: relative;
    color: #fff;
    background: #a00;
    max-width: 400px;
    padding: 7px;
    margin: -40px auto 0px auto;
    text-align: center;
    z-index: 1;
    box-shadow: 8px 9px rgb(0,0,0, .3);
}
.transferrable-skills-list-container {
    background: #323232;
    outline: 4px double #aaa;
    outline-offset: -10px;
    margin: 30px;
    padding: 20px;
}
.transferrable-skills-list-container p{
    color: #aaa;
}
.transferrable-skills {
    color: #0aa;
    list-style: none;
    margin: 0;
    padding: 5px 0px;
}
.transferrable-skills span::before {
    content: "[";
    color: #a00;
}
.transferrable-skills span::after {
    content: "]";
    color: #a00;
}
.project-title-container {
    width: 75%;
    margin: 50px auto;
}
.project-title-container h4 {
    color: #c60;
    font-family: 'Press Start 2P', cursive;
    border-bottom: 2px solid #a00;
    margin: 30px;
}
.grid-container {
    display: flex;
    width: 100%;
    margin: 60px auto;
}
.grid {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    column-gap: 60px;
    grid-row-gap: 60px;
    margin: 0px auto;
}
.card {
    position: relative;
    font-family: 'Press Start 2P', cursive;
    background: #323232;
    box-sizing: border-box;
    outline: 4px double #aaa;
    outline-offset: -10px;
    padding: 10px;
    border: 2px solid rgb(0,0,0,.5);
}
.cap {
    position: relative;
    color: #fff;
    background: #a00;
    width: 300px;
    padding: 7px;
    margin: -20px auto 0px auto;
    text-align: center;
    z-index: 1;
    box-shadow: 8px 9px rgb(0,0,0, .3);
}
.card::before {
    filter: saturate(0) brightness(.633);
}
.shadowbox::before {
    content: ' ';
    z-index: -1;
    position: absolute;
    display: block;
    background-image: url(/assets/shadow_box.png);
    width: 100%;
    height: 100%;
    top: 15px;
    left: 15px;
}

#project-specs::before {
    content: ">>";
    color: #a00;
}
.card-contents p{
    color: #0aa;
    margin: 20px 0px;
    padding: 5px;
    line-height: 25px;
}
.card-contents a {
    text-decoration: none;
}
#project-link:hover {
    color: #00a;
    background: #aaa;
    transition: color .15s, background .15s;
    transition-property: color, background;
    transition-duration: .15s, .15s, .15s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
}
#project-link::before {
    content: "[";
    color: #aaa;
}
#project-link:hover::before{
    color: #323232;
}
#project-link::after {
    content: "]";
    color: #aaa;
}
#project-link:hover::after{
    color: #323232;
}