body, html{

}

.border-side {
    background-color: #000;
}

p.blurb {
    margin: 1.5em 2em;
    
}

.card {
    margin: 0.75em 0em;
}

.bg-dark {
    color: white;
    
}

.typewriter-banner > *{
    background: #000;
    color: #fff;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    border-right: 0.15em solid white;
    white-space: nowrap;
    font-family: "Courier New";
    letter-spacing: .2em;
    margin: .5em auto;
    padding: 50px;
    animation: 
        typingAnim 3.5s steps(30),
        blink-caret 1.0s step-end infinite; 
}

@keyframes typingAnim{
    from {width: 0}
    to {width: 100%}
}

@keyframes blink-caret {
    from, to {border-color: transparent}
    25% {border-color: orange;}
}